:root {
  --text1: #722d2d;
  --text2: #675151;
  --bg1: #756666;
  --bg2: #b49494;
  --bg3: #f29a9a;
  --f1: 30px;
  --f2: 20px;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg1);
}

.header {
  background-color: var(--bg2);
  color: var(--text1);
  text-align: center;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

#nav a {
  padding: 2px 5px;
  margin: 2px 15px;
  text-decoration: none;
  color: var(--text2);
  font-weight: bold;
  border-radius: 5px;
}

#nav a:hover {
  color: var(--bg1);
  background-color: var(--bg3);
}

.container {
  max-width: 500px;
  margin: 40px auto;
  background: linear-gradient(to right, var(--bg2), var(--bg3));
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-inside {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-inside label {
  margin-bottom: 2px;
  color: #444;
}

.form-inside input,
.form-inside select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 15px;
}

.form-inside input:focus,
.form-inside select:focus {
  border-width: 3px;
  border-color: var(--text2);
}

.form-inside.success input {
  border-color: #63E6BE;
}

.form-inside.error input {
  border-color: #ee1b1b;
}

.form-inside i {
  position: absolute;
  right: 10px;
  top: 35px;
  visibility: hidden;
}

.form-inside small {
  color: #f91d1d;
  font-size: 13px;
  margin-top: 4px;
  visibility: hidden;
}

.form-inside.success small {
  visibility: hidden;
}

.form-inside.error small {
  visibility: visible;
}

.form-inside.success i.fa-circle-check {
  visibility: visible;
  color: #63E6BE;
}

.form-inside.error i.fa-circle-exclamation {
  visibility: visible;
  color: #ee1b1b;
}

button {
  background: #007bff;
  color: #fff;
  border: 2px solid #000000;
  padding: 10px;
  border-radius: 10px;
  font-size: var(--f2);
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background: #2b68a8;
  border-color: #5eafe9;
  border-radius: 100px;
  border-width: 2px;
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
    max-width: 100%;
    width: calc(100vw - 40vw);
  }
}
